/*
* Reset.
*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	display: block;
	background: none;
	outline: none;
	border: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}

/*
* Variables.
*/
:root {
	--clr-bg-body: #ffffff;
	--clr-blue: #0065fc;
	--clr-light-blue: #deebff;
}

/*
* Body.
*/
body {
	font-family: "Raleway", sans-serif;
	background-color: var(--clr-bg-body);
	font-size: 1.6rem;
}

/*
* Layout.
*/
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}

/*
* Header.
*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1440px;
	height: 11.3rem;
	margin: 0 auto;

	transition: all 0.3s ease;
}
.header__logo {
	padding-top: 2.4rem;
	padding-left: 5.1rem;
}

/*
* Navbar.
*/
.navbar {
	height: 100%;
	margin-left: auto;

	transition: all 0.3s ease;
}

.navbar__list {
	display: flex;
	align-items: center;
	list-style: none;
	height: 100%;
	font-weight: 500;
}
.navbar__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16rem;
	height: 100%;
	text-align: center;
}
.navbar__item:last-child {
	margin-right: 20px;
}

.navbar__item--active {
	color: var(--clr-blue);
	border-top: 2px solid var(--clr-blue);
}
.navbar__btn {
	font-weight: 500;
	color: var(--clr-blue);
	padding-right: 7.8rem;
}

/*
* Breakpoints.
*/
/* Tablet */
@media screen and (max-width: 991px) {
	.header {
		height: 8rem;
	}
	.header__logo {
		padding-left: 5.4rem;
	}
	.navbar__item {
		width: 12.1rem;
	}
	.navbar__btn {
		padding-right: 5.4rem;
	}
}
/* Phone */
@media screen and (max-width: 768px) {
	.header {
		flex-wrap: wrap;
		height: 7.2rem;
		padding-top: 2.2rem;
	}
	.header__logo {
		padding-left: 1.6rem;
		padding-top: 0;
		width: 10.7rem;
	}
	.header__logo img {
		width: 100%;
	}
	.navbar {
		order: 3;
		width: 100%;
		font-size: 1.4rem;
	}
	.navbar__list {
		width: 100%;
	}
	.navbar__item {
		width: 50%;
		height: 100%;
		border-bottom: 2px solid #f3f3f3;
	}
	.navbar__item:last-child {
		margin-right: 3px;
	}
	.navbar__item--active {
		border-top: none;
		border-bottom: 2px solid var(--clr-blue);
	}
	.navbar__link {
		padding-top: 6px;
	}
	.navbar__btn {
		padding-right: 1.6rem;
	}
}
