/*
* Reset.
*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	scroll-behavior: smooth;
}
a {
	color: inherit;
	text-decoration: none;
}
button {
	display: block;
	background: none;
	outline: none;
	border: none;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}
img {
	vertical-align: middle;
}

/*
* Variables.
*/
:root {
	--clr-bg-body: #ffffff;
	--clr-blue: #0065fc;
	--clr-light-blue: #deebff;
}

/*
* Body.
*/
body {
	font-family: "Raleway", sans-serif;
	background-color: var(--clr-bg-body);
	font-size: 1.6rem;
}

/*
* Layout.
*/
.container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
main {
	display: flex;
	gap: 4rem;
	padding: 0 5rem;
}
.col {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	height: 44.5rem;
	max-width: 30.4rem;
}
.col:first-child .card:first-child {
	height: 23.5rem;
}

/*
* Modifiers.
*/
#card-port {
	object-position: 51% 25%;
	object-fit: none;
}
#card-fort {
	object-position: 50% 40%;
}
#card-frioul {
	object-position: 50% 15%;
}
#card-calanques {
	object-position: 45% 0%;
}
#card-dame {
	object-position: 50% 0%;
}
#card-longchamp {
	object-position: 50% 10%;
}

/*
* Effects.
*/
.link_effect {
	position: relative;
}
.link_effect:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	width: 0;
	height: 2px;
	margin-top: 5px;
	background-color: #000;
	transition: 0.4s ease;
}
.link_effect:hover.link_effect:after {
	width: 100%;
	left: 0;
	background-color: #000;
}
.navbar__item--active .link_effect:hover.link_effect:after {
	background-color: var(--clr-blue);
}
.navbar__item--active .link_effect:after {
	background-color: var(--clr-blue);
}

/*
* Header.
*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1440px;
	height: 11.3rem;
	margin: 0 auto;

	transition: all 0.3s ease;
}
.header__logo {
	padding-top: 2.4rem;
	padding-left: 5.1rem;
}
.header__logo img {
	max-width: 94px;
	max-height: 45px;
}

/*
* Navbar.
*/
.navbar {
	height: 100%;
	margin-left: auto;

	transition: all 0.3s ease;
}

.navbar__list {
	display: flex;
	align-items: center;
	list-style: none;
	height: 100%;
	font-weight: 500;
}
.navbar__item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16rem;
	height: 100%;
	text-align: center;
}
.navbar__item:last-child {
	margin-right: 20px;
}

.navbar__item--active {
	color: var(--clr-blue);
	border-top: 2px solid var(--clr-blue);
}
.navbar__btn {
	cursor: pointer;
	font-weight: 700;
	color: var(--clr-blue);
	padding-right: 7.8rem;
}

/*
* Banner.
*/
.banner {
	height: 14.5rem;
	padding-left: 5.1rem;
	transition: all 0.3s ease;
}
.banner__title {
	padding-bottom: 1rem;
	font-weight: bold;
	line-height: 1.33333;
}
.banner__subtitle {
	padding-bottom: 2.4rem;
	font-weight: 500;
}
/* Search */
.search {
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 42rem;
	height: 5.1rem;
	border-radius: 15px;
	border: 1px solid #f2f2f2;
	overflow: hidden;
}
.search__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.9rem;
	width: 5rem;
	min-width: 4.5rem;
	height: 100%;
	background-color: #f2f2f2;
}
.search__input {
	flex-grow: 1;
	padding: 2.2rem 1.6rem;
	outline: none;
	border: none;
	font-size: 1.6rem;
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	color: #000000;
}
.search__input::placeholder {
	color: #000000;
	font-weight: bold;
}
.search__btn {
	cursor: pointer;
	width: 13.4rem;
	min-width: 4.5rem;
	height: 100%;
	background-color: var(--clr-blue);
	color: #ffffff;
	font-weight: 500;
	transition: all 0.3s ease;
}
.search__btn-icon {
	display: none;
}

/*
* Filter.
*/
.filter {
	height: 14.5rem;
	padding-left: 5.1rem;
	padding-top: 4rem;
	transition: all 0.3s ease;
	margin-bottom: 4.3rem;
}
.filter__row {
	display: flex;
	margin-bottom: 3.7rem;
}
.filter__label {
	font-size: 1.8rem;
	font-weight: bold;
	margin-right: 2.8rem;
	padding-left: 1.2rem;
}
.filter__list {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	width: 100%;
	margin-top: -1.5rem;
}
.filter__item {
	position: relative;
	height: 5rem;
	border: 2px solid #d9d9d9;
	border-radius: 999px;
	overflow: hidden;
	transition: border-color 0.3s ease;
	font-size: 1.8rem;
	margin-right: 19px;
	margin-bottom: 19px;
}
.filter__item::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--clr-light-blue);
	width: 5rem;
	height: 5rem;
	border-radius: 999px;
	transition: width 0.3s ease;
	z-index: -1;
}
.filter__item:hover.filter__item::before {
	width: 100%;
}
.filter__item:hover.filter__item {
	border-color: var(--clr-blue);
}

.filter__btn {
	display: flex;
	align-items: center;
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.filter__btn i {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5rem;
	width: 5rem;
	font-size: 1.8rem;
	color: var(--clr-blue);
}
.filter__btn i::after {
	position: absolute;
	content: "";
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	background-color: var(--clr-light-blue);
}
.filter__btn i::before {
	z-index: 2;
}
.filter__btn span {
	padding: 8px 13px;
	margin-right: 11px;
	font-weight: bold;
}
.filter__caption {
	display: flex;
	align-items: center;
	margin-left: 8px;
}
.filter__caption i {
	font-size: 1.2rem;
	color: var(--clr-blue);
}
.filter__caption span {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	border: 1px solid #d9d9d9;
	margin-right: 12px;
}

/*
* Hébergements.
*/
.hebergement {
	order: 1;
	flex-grow: 1;
	padding: 5rem 4rem;
	border-radius: 2rem;
	background-color: #f2f2f2;
}
.hebergement h2 {
	font-size: 2rem;
	padding-bottom: 2.8rem;
}
.hebergement .link_effect {
	font-size: 2rem;
	font-weight: bold;
}
.hebergement .card {
	width: 23.6rem;
}

/*
* Aside - populaire.
*/
.populaire {
	display: flex;
	flex-direction: column;
	order: 2;
	flex-shrink: 0;
	width: 100%;
	max-width: 42rem;
	padding: 5rem 4rem 0;
	border-radius: 2rem;
	background-color: #f2f2f2;
}
.populaire__header {
	display: flex;
	justify-content: space-between;
}
.populaire__header h2 {
	padding-bottom: 3rem;
	font-size: 2rem;
}
.populaire__icon {
	font-size: 2.2rem;
}
.populaire .card {
	flex-grow: 1;
	margin-bottom: 3.3rem;
	height: 14.4rem;
}
.populaire .card__body {
	display: flex;
	flex-direction: column;
}
.populaire .card__body p {
	flex-grow: 1;
}

/*
* Card.
*/
.card {
	cursor: pointer;
	border: 4px solid #fff;
	background-color: #fff;
	border-radius: 2rem;
	box-shadow: 1px 3px 25px rgba(0, 0, 0, 0.15);

	transition: box-shadow 0.3s ease;
}
.card:hover .card__header img {
	transform: scale(1.2);
}
.card:hover {
	box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.35);
}

.card__container {
	display: flex;
	flex-wrap: wrap;
	max-width: 88.8rem;
	gap: 3rem;
	padding-bottom: 4.7rem;
}
.card__container .card {
	flex-grow: 1;
}
.card-top {
	height: 100%;
	max-height: 23.5rem;
}
.card-bottom {
	height: 100%;
	max-height: 20.9rem;
}

.card-flex {
	display: flex;
}
.card-flex .card__header {
	flex-shrink: 0;
	width: 12.7rem;
	border-radius: 2rem 0 0 2rem;
	height: auto;
}
.card-flex .card__header img {
	object-position: center top;
}
.card-flex .card__body {
	padding-right: 4rem;
	padding-left: 2.1rem;
}
.card-flex p {
	font-size: 1.4rem;
}

.card__header {
	position: relative;
	border-radius: 2rem 2rem 0 0;
	overflow: hidden;
	height: 11.5rem;
}
.card__header img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease;
}
.card__body {
	width: 100%;
	padding: 1.5rem 1.2rem;
}
.card__body h3 {
	font-size: 1.6rem;
	font-weight: bold;
	padding-bottom: 0.7rem;
}
.card__body p {
	padding-bottom: 1.1rem;
}
.card__body strong {
	font-weight: bold;
}

/* Stars */
.stars {
	color: #d9d9d9;
}
.stars-blue {
	color: #0065fc;
}

/*
* Activities.
*/
.activities {
	padding: 7.3rem 5rem 0;
	margin-bottom: 6rem;
}
.activities h2 {
	padding-bottom: 3rem;
}
.activities__col {
	display: flex;
	gap: 4rem;
	width: 50%;
}
.activities__container {
	display: flex;
	gap: 4rem;
}
.activities .card {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 17rem;
	border: none;
}
.activities__container .col .card {
	flex-grow: 1;
}
.activities__container .card__header {
	flex-grow: 1;
}
.activities__container .card__body {
	flex-shrink: 0;
	height: 5.5rem;
}

/*
* Footer.
*/
footer {
	background-color: #f2f2f2;
}
.footer {
	display: flex;
	padding: 5rem;
}
.footer__list {
	list-style: none;
}
.footer__list:not(:last-child) {
	padding-right: 23rem;
}
.footer__label {
	font-size: 1.8rem;
	font-weight: bold;
	padding-bottom: 3rem;
}
.footer__link:not(:last-child) {
	font-weight: 500;
	padding-bottom: 2rem;
}

/*
* Breakpoints.
*/
/* Extra Large */
@media screen and (max-width: 1400px) {
	main {
		flex-direction: column;
	}
	.card__container {
		max-width: 100%;
	}
	.card__container .card {
		flex: 33.33333%;
		width: 100%;
	}

	.filter {
		height: auto;
	}
	.filter__row {
		flex-direction: column;
		margin-bottom: 2rem;
	}
	.filter__list {
		margin-top: inherit;
	}
	.filter__label {
		padding-left: 0;
		padding-bottom: 1.3rem;
		font-size: 1.6rem;
		margin-right: 0;
		margin-top: 2.8rem;
	}
	.populaire {
		order: 1;
		max-width: 100%;
	}
	.hebergement {
		order: 2;
	}
	.card-flex .card__header img {
		object-position: center center;
	}

	.activities__container .card__body {
		height: auto;
	}
	.activities__container {
		gap: 3rem;
	}
	.activities__col {
		gap: 3rem;
		width: 100%;
	}

	.footer__list:not(:last-child) {
		padding-right: 15rem;
	}
}
/* Large */
@media screen and (max-width: 992px) {
	.header {
		height: 8rem;
	}
	.header__logo {
		padding-left: 5.4rem;
	}
	.navbar__item {
		width: 12.1rem;
	}
	.navbar__btn {
		padding-right: 5.4rem;
	}

	.banner {
		padding: 0 5.4rem;
		margin-top: 3rem;
	}
	.filter {
		height: auto;
	}
	.filter__row {
		margin-bottom: 2.4rem;
	}
	.activities__container {
		flex-wrap: wrap;
	}

	.footer__list:not(:last-child) {
		padding-right: 7rem;
	}
}
/* Medium */
@media screen and (max-width: 768px) {
	main {
		padding: 0;
		gap: 0;
	}
	.populaire {
		padding: 4rem 2rem 0;
	}

	.hebergement {
		padding: 4rem 2rem;
		background-color: #fff;
	}
	.populaire,
	.hebergement {
		border-radius: 0;
	}
	.populaire .card {
		height: 12.9rem;
	}

	.header {
		flex-wrap: wrap;
		height: 7.2rem;
		padding-top: 2.2rem;
	}
	.header__logo {
		padding-left: 2rem;
		padding-top: 0;
		width: 10.7rem;
	}
	.header__logo img {
		width: 100%;
	}
	.navbar {
		order: 3;
		width: 100%;
		font-size: 1.4rem;
	}
	.navbar__list {
		width: 100%;
	}
	.navbar__item {
		width: 50%;
		height: 100%;
		border-bottom: 2px solid #f3f3f3;
	}
	.navbar__item:last-child {
		margin-right: 3px;
	}
	.navbar__item--active {
		border-top: none;
		border-bottom: 2px solid var(--clr-blue);
	}
	.navbar__link {
		padding-top: 6px;
	}
	.navbar__btn {
		padding-right: 1.6rem;
	}

	.banner {
		height: 20rem;
		padding: 0 2rem;
		padding-top: 4.2rem;
	}
	.banner__title {
		font-size: 2rem;
		padding-bottom: 2.1rem;
	}
	.banner__subtitle {
		padding-bottom: 3.5rem;
	}
	.search {
		min-width: 100%;
	}
	.search__input {
		padding: 2rem 1.6rem;
	}

	.filter {
		padding-left: 2rem;
		padding-top: inherit;
		margin-bottom: 2.5rem;
	}
	.filter__item {
		font-size: 1.4rem;
		height: 4.5rem;
		margin-right: 5px;
		margin-bottom: 11px;
	}
	.filter__item::before {
		height: 4.5rem;
		width: 4.5rem;
	}
	.filter__btn span {
		margin-right: 0;
	}
	.filter__caption {
		margin-left: 0;
		font-size: 1.4rem;
		padding-right: 2rem;
	}
	.filter__caption span {
		align-self: flex-start;
	}

	.link_effect::after {
		display: none;
	}

	.activities {
		padding: 2rem 2rem 0;
		margin-bottom: 3rem;
	}
	.activities img {
		object-fit: cover !important;
	}
	#card-fort {
		object-position: 50% 45%;
	}
	#card-frioul {
		object-position: 50% 23%;
	}
	#card-calanques {
		object-position: 45% 40%;
	}
	#card-dame {
		object-position: 50% 20%;
	}
	#card-longchamp {
		object-position: 50% 30%;
	}

	.footer {
		flex-direction: column;
		padding: 4.5rem 3rem;
	}
	.footer__list {
		padding-bottom: 4.6rem;
	}
	.footer__list:not(:last-child) {
		padding-right: 0;
	}
}

/* Small */
@media screen and (max-width: 576px) {
	.populaire__icon {
		font-size: 1.9rem;
	}

	.card-flex .card__body {
		padding: 2rem 2rem 1.4rem;
	}
	.card__body h3 {
		font-size: 1.4rem;
	}
	.card-flex .card__header {
		width: 11.5rem;
	}
	.card__container .card {
		flex: 100%;
		width: 100%;
	}
	.card__body p {
		font-size: 1.2rem;
		font-weight: 500;
	}

	.stars {
		font-size: 1.2rem;
	}

	.banner {
		height: auto;
	}
	.banner__subtitle {
		font-size: 1.4rem;
	}

	.search {
		height: 4.5rem;
	}
	.search__btn {
		width: 4.5rem;
		min-width: 4.5rem;
		height: 100%;
		border-bottom-left-radius: 15px;
		border-top-left-radius: 15px;
	}
	.search__btn span {
		display: none;
	}
	.search__btn-icon {
		display: block;
	}
	.search__icon {
		font-size: 1.6rem;
	}
	.search__input {
		width: inherit;
	}

	.activities__container,
	.activities__col {
		flex-direction: column;
	}
	.col,
	.card-top,
	.card-bottom {
		max-width: 100%;
		max-height: 100%;
		height: auto;
	}
	.activities .card__header {
		height: 100%;
		max-height: 12rem;
	}
}
/* Extra Small */
@media screen and (max-width: 320px) {
	.search__input {
		font-size: 1rem;
		padding: 0.8rem 0.6rem;
	}
	.populaire .card {
		height: auto;
	}
}
